
.body {
    background-color: beige;
}

h1 {
    font-family: sans-serif;
    color: blue;
    text-align: center;

}

p {
    font-family: Arial, sans-serif;
    color: purple;
    text-align: center;
}



