/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', sans-serif;
    padding: 25px;
    min-height: 100vh;
    background: lightsteelblue;
    color: rgb(49, 41, 143);
}

h1,
h2 {
    text-align: center;
    padding: 10px;
}

h2 {
    margin-bottom: 30px;
}

h3,
h4 {
    padding: 10px;
}

h4 {
    margin-bottom: 25px;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;

}

.cards {
    aspect-ratio: 1;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.cards:hover {
    transform: scale(1.1);

}

.cards.flipped {
    transform: rotateY(180deg);
}

.cards.flipped:hover {
    transform: rotateY(180deg) scale(1.1);

}

.cards.matched {
    pointer-events: none;
}

.face-down,
.face-up {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.face-down {
    background: white;
    font-size: 4em;
    color: rgb(143, 13, 132);
    border: 3px solid rgb(49, 41, 143);
    box-shadow: 5px 5px 5px rgb(49, 41, 143);
}

.face-up {
    background: white;
    transform: rotateY(180deg);
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgb(49, 41, 143);
    overflow: hidden;
}

.face-up img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.results {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 60vh;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgb(49, 41, 143);
    font-size: 1.3em;
    font-weight: bold;
}

.win {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    background: white;
    opacity: 0.9;
    align-items: center;
    width: 100%;
    height: 100%;
}

.win.show {
    display: flex;
}

.new-game {
    text-align: center;
    margin: 20px;
}

.button {
    background: rgb(143, 13, 132);
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgb(49, 41, 143);
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button:hover {
    background: rgb(49, 41, 143);
}

.button:active {
    transform: translateY(4px);
    box-shadow: 5px 5px 5px rgb(49, 41, 143);
}

/* Media queries for screens of different sizes. */
@media (max-width: 768px) {
    .game-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .game-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .results {
        width: 45vh;
    }

}

@media (max-width: 375px) {

    .game-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .results {
        width: 40vh;
        gap: 10px;
    }
}